.MainBlock {
  text-align: center;
  border: 1px solid grey;
  margin: 2em;
  padding: 1em;
  padding-left: 0em;
  padding-right: 0em;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AddToDoBoxLayout {
  padding: 2em;
  border: 1px solid grey;
  margin: 2em;
}

.AddToDoCompLayout {
  font-size: larger;
  margin-left: 1em;
}

.NoteLayout {
  margin-top: 2em;
}

.NoteCompLayout {
  font-size: medium;
  margin-left: 1em;
}